.container h2{
  font-size: 20px;
  margin: 0px;
}
.new-tweet{
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}
.new-tweet div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new-tweet button{
  font-family: "Bungee", sans-serif;
  background-color: blue;
  color: white;
}

.new-tweet output{
  font-family: "Bungee", sans-serif;
  color: black;
}

hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

textarea{
  width: 80%;
}
